html, body {
    height: 100vh;
    overflow: hidden;
}
body {
    margin: 0;
    background-image: url("../img/eidolon.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}
.container {
  padding: 20px;
}
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background-color: #362f2c;
  border: 4px solid #d4af4d;
  border-radius: 30px;
  padding: 10px;
}
.info-player {
    display: flex;
    align-items: center;
    flex-direction: row !important;
}
.avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.player-name {
    font-size: 15px;
    line-height: 1.4;
}
.col-player{
    font-size: 15px;
    line-height: 1.4;
    text-align: right;
}
.page-title {
    font-size: 28px;
    background: #d0b06a;
    color: #362f2c;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 20px;
}

.dungeon-container{
    padding-top: 30px; 
    display: grid; 
    grid-template-columns: 1fr 3fr; 
    gap: 20px;
}

.dungeon-menu{
    background-color: #362f2c; 
    height: 70vh;
    border-radius: 50px;
    border: 4px solid #d0b06a;
} 

.dungeon-content{
    background-color: #362f2c; 
    height: 70vh;
    border-radius: 50px;
    border: 4px solid #d0b06a;
    padding: 15px;
}